APP_PORT=3000

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=trip_shelf
POSTGRES_USER=trip_shelf_user
POSTGRES_PASSWORD=trip_shelf_password

DATABASE_URL=postgres://trip_shelf_user:trip_shelf_password@db:5432/trip_shelf